<div class="container-fluid container-mobile p-5 bg-white ">
    <div class="row">
        <div class="col text-center">
            <div >
                <div class="container">
                  <h2 class="main-title">Tell us about your car:</h2>
                  <div class="container d-flex justify-content-center align-items-center flex-column">
                    <div class="row mt-3 p-0">
                      <div class="col col-sm-10">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <select class="form-control input-style p-0" id="gender" name="gender">
                            <option value="male">Dubai</option>
                            <option value="male">UAE</option>
                            <option value="female">USA</option>
                            <option value="other">SAUDIA</option>
                          </select>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 2 -->
                    <div class="row mt-3">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <select class="form-control input-style p-0" id="" name="">
                            <option value="male">Makes & Models</option>
                            <option value="male">2023</option>
                            <option value="female">2014</option>
                            <option value="other">2010</option>
                          </select>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 3 -->
                    <div class="row mt-3">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <select class="form-control input-style p-0" id="" name="">
                            <option value="male">Trim</option>
                            <option value="male">UAE</option>
                            <option value="female">USA</option>
                            <option value="other">SAUDIA</option>
                          </select>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 4 -->
                    <div class="row mt-3">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <select class="form-control input-style p-0" id="" name="">
                            <option value="male">Kilometers</option>
                            <option value="male">80KM/h</option>
                            <option value="female">120Km/h</option>
                            <option value="other">90Km/h</option>
                          </select>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 5 -->
                    <div class="row mt-3">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <select class="form-control input-style p-0" id="gender" name="gender">
                            <option value="male">Year</option>
                            <option value="male">2013</option>
                            <option value="female">1999</option>
                            <option value="other">1998</option>
                          </select>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 6 -->
                    <div class="row mt-3">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <select class="form-control input-style p-0" id="gender" name="gender">
                            <option value="male">Is Your car is in UAE</option>
                            <option value="male">Yes</option>
                            <option value="female">NO</option>
                          </select>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 7 -->
                    <div class="row mt-3">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <span>Price</span>
                        </div>
        
                      </div>
                    </div>
                    <!-- row 8 -->
                    <div class="row mt-3 mb-4">
                      <div class="col">
                        <div class="input">
                          <!-- <label for="gender">Select Gender:</label> -->
                          <input type="number" name="" id="" placeholder="Mobile Number" class="w-100 border-0">
                        </div>
        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="step-btns">
                  <button class="btn button btn-primary mobile-btn w-25 fw-bold" (click)="previous()">Previous Step</button>
                  <!-- <button class="btn button btn-primary mobile-btn w-25 fw-bold" (click)=" openCategoryListing()" >Next Step</button> -->
                </div>
              </div>
            </div>
        </div>
    </div>
    