<body>

    <div class="container-fluid p-5 tab-container">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="row">
                <div class="col">
                    <div class="search-bar mt-3">
                        <img src="assets/images/search-icon.svg" alt="">
                        <input type="text " class="fw-bold ms-1" style="color: #000000; " placeholder="Motors...">
                        <button type="search" class="home-search-btn fw-bold">Search</button>
                    </div>
                </div>
            </div>

            <!-- .mat-chips-row -->
            <div class="row ">
                <div class="col">
                    <div class="row ">
                        <div class="col-auto">
                            <mat-chip class="chips mt-1  ">Used cars</mat-chip>
                        </div>
                        <div class="col-auto">
                            <mat-chip class="chips mt-1  ">Used cars</mat-chip>
                        </div>
                        <div class="col-auto">
                            <mat-chip class="chips mt-1  ">Suzuki Cars</mat-chip>
                        </div>
                        <div class="col-auto">
                            <mat-chip class="chips mt-1  ">Ferrari</mat-chip>
                        </div>
                        <div class="col-auto">
                            <mat-chip class="chips mt-1  ">McLaren</mat-chip>
                        </div>
                        <div class="col-auto">
                            <mat-chip class="chips mt-1  ">Jeeps</mat-chip>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <!-- Search Bar -->

        <div class="">
            <div class="d-flex flex-row-reverse gap-1 mt-4">
                <div class="">
                    <select name="" id="" class="dropdown">
                        <option value="Make">Make</option>
                        <option value="Make">Make</option>
                        <option value="Make">Make</option>
                    </select>
                </div>
                <div class="">
                    <select name="" id="" class="dropdown">
                        <option value="Years" selected>Years</option>
                        <option value="Years">Years</option>
                        <option value="Years">Years</option>
                    </select>
                </div>
                <div class="">
                    <select name="" id="" class="dropdown">
                        <option value="Price" selected>Price</option>
                        <option value="Price">Price</option>
                        <option value="Price">Price</option>
                    </select>
                </div>
                <div class="">
                    <select name="" id="" class="dropdown">
                        <option value="Kilometer" selected>Kilometer</option>
                        <option value="Kilometer">Kilometer</option>
                        <option value="Kilometer">Kilometer</option>
                    </select>
                </div>
            </div>


            <!-- product with filter Row -->

            <div class="row g-0">
                <!-- Side-menue-filter -->
                <div class="col-lg-3 col-md-3  mobile-side-filter mt-4">
                    <h2 class="checkbox-title ms-2 fw-bold">Sort By:</h2>
                    <p class="checkbox">
                        <mat-checkbox>Newest to Oldest</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>Oldest to Newest</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>Price Highest to lowest</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>Kilometers Highest to lowest</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>Years Highest to lowest</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>Years lowest to highest</mat-checkbox>
                    </p>

                    <h2 class="checkbox-title ms-2 fw-bold">Transmission Type:</h2>
                    <p class="checkbox">
                        <mat-checkbox>Automatic</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>Manual</mat-checkbox>
                    </p>


                    <h2 class="checkbox-title ms-2 fw-bold">Seating Capacity:</h2>
                    <p class="checkbox">
                        <mat-checkbox>2 Seater</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>4 Seater</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>6 Seater</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>8 Seater</mat-checkbox>
                    </p>
                    <p class="checkbox">
                        <mat-checkbox>8+ Seater</mat-checkbox>
                    </p>

                </div>
                <!-- products -->
                <div class="col-lg-9 col-md-9 col-sm-12">

                    <div class="row  gy-3 mt-4   mb-lg-5 mb-md-0">
                        <div class=" col-lg-3 col-md-6 mr-4 ">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>


                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>


                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Row 2 -->

                    <div class="row  gy-3 mt-lg-4 mt-md-0  mb-lg-5 mb-md-0">
                        <div class=" col-lg-3 col-md-6 mr-4 ">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>


                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>


                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-1.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Row 3 -->

                    <div class="row  gy-3 mt-lg-4 mt-md-0  mb-lg-5 mb-md-0">
                        <div class=" col-lg-3 col-md-6 mr-4 ">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>


                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>


                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 4 -->
                    <div class="row  gy-3 mt-lg-4 mt-md-0  mb-lg-5 mb-md-0">
                        <div class=" col-lg-3 col-md-6 mr-4 ">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>


                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>


                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>



                        <div class=" col-lg-3 col-md-6 mr-4">
                            <div class="card">
                                <img src="assets/images/listing-card-2.png" class="card-img-top" alt="Image 3">
                                <div class="card-body">
                                    <h5 class="card-title">McLaren Senna</h5>
                                    <p class="card-text">3-seat sofa with chaise longue, <br> Gunnared beige</p>
                                    <p class="card-price">AED 198,000</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-6  mt-md-3">
                            <button type="submit" class=" load-more border-0 text-white fw-bold">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/images/Ellipse 1.png" alt="" class="Ellips-1">
        <!-- <img src="assets/images/Ellipse 2.png" alt="" class="Ellips-2"> -->
    </div>
</body>