<div class="container-fluid">
    <!-- <mat-icon class="btn float-end " data-bs-toggle="offcanvas" data-bs-target="#offcanvas" >menu</mat-icon> -->

    <div class="row">
        <!-- <button class="btn float-end mobile-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
            <i class="bi bi-list fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
        </button> -->
        <div class="col">

            <h1 class="main-heading">Dashboard</h1>
        </div>
    </div>
    <div class="row ms-lg-2 ms-sm-0">
        <div class="col-lg-2 col-sm-5 bg-white rounded small-width">
            <span class="total-user">Total Users</span>
            <h2 class="price mt-lg-3 mt-sm-0 pb-0">30,958</h2>
            <ul class="p-0 mb-2">
                <li><img src="assets/images/up-arrow.png" alt=""><span class="span-text">12.2%</span> Up from yesterday
                </li>
            </ul>

        </div>
        <div class="col-lg-2 col-sm-5 bg-white rounded p-lg-3 pt-sm-0  ms-lg-4 ms-sm-0 small-width">
            <span class="total-user">Daily Visitors</span>
            <h2 class="price mt-lg-3 mt-sm-0 pb-0">165,930</h2>
            <ul class="p-0 mb-2">
                <li><img src="assets/images/up-arrow.png" alt=""><span class="span-text">12.2%</span> Up from yesterday
                </li>
            </ul>

        </div>
        <div class="col-lg-2 col-sm-5 bg-white rounded p-3 ms-lg-4 ms-sm-0 small-width">
            <span class="total-user">Total Listing</span>
            <h2 class="price mt-lg-3 mt-sm-0 pb-0">12,596</h2>
            <ul class="p-0 mb-2">
                <li><img src="assets/images/down-arrow.png" alt=""><span class="span-text-2">12.2%</span> Down from
                    yesterday</li>
            </ul>

        </div>
        <div class="col-lg-2 col-sm-5 bg-white rounded p-3 ms-lg-4 ms-sm-0 small-width">
            <span class="total-user">Monthly Visitors</span>
            <h2 class="price mt-lg-3 mt-sm-0 pb-0">1,952,364</h2>
            <ul class="p-0 mb-2">
                <li><img src="assets/images/up-arrow.png" alt=""><span class="span-text">12.2%</span> Up from yesterday
                </li>
            </ul>

        </div>
    </div>

    <hr>
    <div class="">
        <div class="row g-2">
            <div class="col-lg-7 col-sm-12">
                <div class="row">
                    <div class="col-auto border-left border-primary">
                        <h3 class="fw-bold fs-5">Recent Listings</h3>
                        <span class="bg bg-black"></span>
                    </div>
                    <div class="col-3 pt-2">
                        <span class="total-user  d-none d-sm-block ">+1000 listed</span>
                    </div>
                    <div class="col-2 offset-lg-4">
                        <select name="" id="" class="drop">
                            <option value="">November</option>
                            <option value="">December</option>
                            <option value="">January</option>
                            <option value="">Feburary</option>
                        </select>
                    </div>
                </div>

                <div class="bg-white mt-1 mb-3 rounded p-2 table-responsive">
                    <!-- table -->
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr class="">
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Date&Time</th>
                                <th scope="col">Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        <li><img src="assets/images/name-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">775 Rolling Green Rd.</td>
                                <td class="location ">2023-12-28 10:27</td>
                                <td><button class="live">Live</button></td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/name-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">775RollingGreenRd.</td>
                                <td class="location ">2023-12-28 10:27</td>
                                <td><button class="pending">Pending</button></td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/name-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">775 Rolling Green Rd.</td>
                                <td class="location ">2023-12-28 10:27</td>
                                <td><button class="rejected">Rejected</button></td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/name-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">775 Rolling Green Rd.</td>
                                <td class="location ">2023-12-28 10:27</td>
                                <td><button class="live">Live</button></td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/name-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">775 Rolling Green Rd.</td>
                                <td class="location ">2023-12-28 10:27</td>
                                <td><button class="live">Live</button></td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/name-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">775 Rolling Green Rd.</td>
                                <td class="location ">2023-12-28 10:27</td>
                                <td><button class="live">Live</button></td>
                            </tr>
                           
                            <div class="mt-3 w-sm-100 text-center see-all">
                                <p class="w-100">See All</p>
                            </div>
                        </tbody>
                    </table>
                    <!-- table-End -->
                </div>

            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="row">
                    <div class="col-auto border-left border-primary">
                        <h3 class="fw-bold fs-5">New Users</h3>
                    </div>

                </div>

                <div class=" bg-white p-3 mt-1 rounded mb-5">
                    <!-- table -->
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr class="">
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody class="mt-4 pt-5">
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/user-1.png" class="name-img">Novák Réka</li>
                                    </ul>
                                </td>
                                <td class="location ">Active</td>
                                <td>
                                    <div class="mat">
                                        <mat-icon  class="mat-icon-edit">edit</mat-icon>
                                        <mat-icon class="mat-icon-delete">delete_outline</mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/user-2.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="bloked ">Blocked</td>
                                <td>
                                    <div class="mat"> <mat-icon font-size="14px" class="mat-icon-edit">edit</mat-icon>
                                        <mat-icon class="mat-icon-delete">delete_outline</mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/user-3.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">Active</td>
                                <td>
                                    <div class="mat"> <mat-icon  class="mat-icon-edit">edit</mat-icon>
                                        <mat-icon class="mat-icon-delete">delete_outline</mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/user-4.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">Active</td>
                                <td>
                                    <div class="mat"> <mat-icon class="mat-icon-edit">edit</mat-icon>
                                        <mat-icon class="mat-icon-delete">delete_outline</mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/user-1.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="bloked ">Bloked</td>
                                <td>
                                    <div class="mat"> <mat-icon class="mat-icon-edit">edit</mat-icon>
                                        <mat-icon class="mat-icon-delete">delete_outline</mat-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <ul>
                                        <li><img src="assets/images/user-2.png" class="name-img">Toyota Innova</li>
                                    </ul>
                                </td>
                                <td class="location ">Active</td>
                                <td>
                                    <div class="mat"> <mat-icon class="mat-icon-edit">edit</mat-icon>
                                        <mat-icon class="mat-icon-delete">delete_outline</mat-icon>
                                    </div>
                                </td>
                            </tr>
                           

                        </tbody>
                    </table>
                    <!-- table-End -->
                    <div class="row bg-white g-0 ">
                
                        <div class="col text-center see-all">
                            <p class="">See All</p>
                       
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>


</div>