
<div class="container-fluid p-4">
    <div class="row">
        <div class="col">
        <h2 class="fw-bold" style="font-size: 22px;">Feedbacks</h2>
        </div>
    </div>
    <div class="row bg-white rounded-3 ms-1">
        <div class="col-auto bg-primary rounded rounded-left-3">
            <mat-icon style="color: white; font-size: 28px; cursor: pointer;"
             class="mt-2">filter_list</mat-icon>
        </div>
        <div class="col-auto border-right p-1  m-2">
            <Select class=" border-0 select">
                <option value="">Category</option>
                <option value="">Category</option>
                <option value="">Category</option>
            </Select>
        </div>
        <div class="col-auto border-right p-1  m-2">
            <Select class=" border-0 select">
                <option value="">Name</option>
                <option value="">Name</option>
                <option value="">Name</option>
            </Select>
        </div>
        <div class="col-auto border-right p-1  m-2">
            <Select class=" border-0 select">
                <option value="">Sort by</option>
                <option value="">Sort by</option>
                <option value="">Sort by</option>
            </Select>
        </div>
       
        <div class="col-auto border-right p-1  m-2">
            <Select class=" border-0 select">
                <option value="">Location</option>
                <option value="">Location</option>
                <option value="">Location</option>
            </Select>
        </div>
        <div class="col-auto border-right p-1  m-2">
            <Select class=" border-0 select">
                <option value="">Advance Search </option>
                <option value="">Advance Search</option>
                <option value="">Advance Search</option>
            </Select>
        </div>
        <div class="col pt-1 text-danger mt-2" style="cursor: pointer;">
            <p>Reset Filters</p>
        </div>
        
        
    </div>
    <div class="row mt-4 mb-3 d-flex justify-content-between"> 
        <div class="col ">
            <p class="select">Showing 1-08 of 783,450</p>
        </div>
        <div class="col-auto d-flex justify-content-center align-center pt-1 bg-white rounded"> 
            <mat-icon  class="text-secondary" style="cursor: pointer;">keyboard_arrow_left</mat-icon>
            <mat-icon class="text-primary" style="cursor: pointer;">keyboard_arrow_right</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="bg-white mt-1  rounded p-3 table-responsive">
            <!-- table -->
            <table class="table table-hover align-middle">
                <thead>
                    <tr class="bg-light pt-2 pb-2">
                        <th scope="col">Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Date&Time</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Action</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-1.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""> </td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">ka puta mai a Maui, aue te ohorere <br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-4.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""></td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">ka puta mai a Maui, aue te ohorere <br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-3.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""></td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">ka puta mai a Maui, aue te ohorere <br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-2.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""></td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">kaputamaiaaui,aueteohorere<br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-1.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""></td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">ka puta mai a Maui, aue te ohorere <br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-4.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""></td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">ka puta mai a Maui, aue te ohorere <br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><img src="assets/images/user-3.png" class="name-img">Toyota Innova</li>
                            </ul>
                        </td>
                        <td class="location "><img src="assets/images/stars.png" class=""></td>
                        <td class="location ">2023-12-28 10:27</td>
                        <td class="location ">ka puta mai a Maui, aue te ohorere <br> o ona tuakana.!<span class="fw-bold"> Read More</span></td>
                        <td>
                            <div class=" d-flex">
                                <button type="button" class="btn btn-outline-primary  btn-border">Reply</button>
                                <button type="button" class="btn btn-outline-danger btn-border">Delete</button>
                            </div>
                        </td>
                    </tr>
                    
                    
                   
                    
                </tbody>
                
            </table>
           
            <!-- table-End -->
        </div>
        <div class="row bg-white g-0 ">
                
            <div class="col text-center see-all">
                <p class="">See All</p>
           
        </div>
    </div>
    </div>
</div>