<h2 mat-dialog-title></h2>
<mat-dialog-content class="mat-typography">
    <div>
        <label> Select Root Category </label>
        <select class="form-control" (change)="onCategorySelect($event)">
            @for (catagory of currentCategoryList; track $index) {
            <option [value]="catagory.id"> {{catagory.name}} </option>
            }
        </select>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-button (click)="openListingDialoge()">Next</button>

</mat-dialog-actions>