  <div class="row border-bottom border-light">
    <div class="col p-0">
      <nav class="navbar navbar-expand-lg bg-white  ">
        <div class="container-fluid">
          <img src="assets/images/logo.png" alt="Logo" class="logo pt-2">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Motors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Property for sale</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link " href="#">Classified</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Mobiles & Tabs</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <div class="col language-buttons">


                <select class="languade-convertor">
                    <option value="">Eng</option>
                    <option value="">Eng</option>
                    <option value="">Eng</option>
                </select>
            <a class="btn  login-button fw-bold" [routerLink]="'/auth/login'">Login</a>
            <button class="btn btn-primary sell-button text-white fw-bold" routerLink="/register">Start Selling</button>
          </div>
            </form>
          </div>
        </div>
      </nav>
      
    </div>
  </div>





<!--  -->

