.select{
    color: #959595;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
// border-right: 1px solid rgb(158, 158, 158);
// border-top: 0px;
// border-bottom: 0px;
// border-left: 0px;
// margin-right: 5px;
}
.border-right{
    border-right: 1px solid #959595;
}




// table styling
.table{
    padding: 23px;
}
thead{
    padding-left: 20px;
}
table {
    padding: 10px; /* Padding around the entire table */
  }
  th{
    padding-top: 10px;
   
  }
  
  td {
    padding: 18px 10px 8px 10px; /* Padding within cells */

  }
  .live{
    background-color: #00B664;
    border-radius: 40px;
    // padding: 9px 15px;
    border: 1px solid #00B664;
    color: var(--ffffff, #FFF);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 91.509px;
height: 26.567px;
flex-shrink: 0;
margin-top: 9px;
  }
  .name-img{
    // width: 12px;
    // height: 12px;
    margin-left: -33px;
    margin-right: 7px;
  }
 
  ul li{
    color: var(--000000, #767474);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .location{
    color: var(--000000, #767474);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 9px;
  }
  .bloked{
    color: #FD5454;
  }
  .pending{
    background-color: #FCBE2D;
    border-radius: 40px;
    // padding: 9px 15px;
    border: 1px solid #FCBE2D;
    color: var(--ffffff, #FFF);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 91.509px;
height: 26.567px;
flex-shrink: 0;
margin-top: 9px;
  }
  .rejected{
    background-color: #FD5454;
    border-radius: 40px;
    // padding: 9px 15px;
    border: 1px solid #FD5454;
    color: var(--ffffff, #FFF);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 91.509px;
height: 26.567px;
flex-shrink: 0;
margin-top: 9px;
  }
  .see-all{
    // margin-left: 19rem;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
    color: var(--000000, #767474);
  }

  .mat-icon-delete{
    // background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: #FD5454;
    font-size: 22px;
   margin: 6px;
   cursor: pointer;
  }
  .mat-icon-edit{
    // background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    color: rgb(97, 97, 97);
    font-size: 22px;
   margin: 6px;
   cursor: pointer;
  }
  .mat{
    background-color: #ebebebe6;
    width: 5rem;
    border-radius: 5px;
    border: 1px solid gainsboro;
  }
  .Premium{
    color: #FCBE2D;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }




  @media (max-width: 768px) { /* Target screens up to 768px wide (e.g., tablets in portrait) */
   
 
  }
    
    @media (max-width: 480px) { /* Target screens up to 480px wide (e.g., smartphones in portrait) */
     ul{
      width: 9rem;
     }
    
      
  }
  .categoriesmain {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 10px;

}

.categoryitem {
    display: flex;
    align-items: center; 
}

.categoryicon {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
