<div class="container-fluid p-lg-5 p-sm-0">
    <div class="row mt-5">
        <div class="col text-center">
            <p class="welcome-heading">Welcome Back <span class="text-primary"> Abrar! </span></p>
        </div>
    </div>

    <div class="row mt-lg-3 mt-sm-0 g-2 d-flex justify-content-center align-items-center">
        <div class="col-auto text-center">
            <button class="butn">My Product Ads</button>
        </div>
        <div class="col-auto">
                        <button class="butn">Account Setting</button>

        </div>
        <div class="col-auto">
                        <button class="btn btn-primary text-white">Messages</button>

        </div>
    </div>


    <!-- Tabas -->

    <div class="row mt-3 ps-lg-5 ps-sm-0 pe-lg-5 pe-sm-0">
        <div class="col-lg-3 col-sm-12  border border-gray rounded">
            <div class="row p-3">
                <div class="col "><h4 class="fw-bold m-0">Messages</h4></div>
                <div class="col text-end"><mat-icon>filter_list</mat-icon></div>
            </div>

            <div class="row border bg-light border-gray mt-1 pt-2 pb-2">
                <div class="col-auto align-middle">
                    <img src="assets/images/vendor-1.png" class="rounded-circle image-size" >
                </div>
                <div class="col p-0">
                    <h3 class="m-0 seller-name fw-bold">Seller</h3>
                        <p>Torem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                   
                </div>
            </div>

            <div class="row border  border-gray mt pt-2 pb-2">
                <div class="col-auto align-middle">
                    <img src="assets/images/vendor-1.png" class="rounded-circle image-size" >
                </div>
                <div class="col p-0">
                    <h3 class="m-0 seller-name fw-bold">Seller</h3>
                        <p>Torem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                   
                </div>
            </div>

            <div class="row border  border-gray mt pt-2 pb-2">
                <div class="col-auto align-middle">
                    <img src="assets/images/vendor-1.png" class="rounded-circle image-size" >
                </div>
                <div class="col p-0">
                    <h3 class="m-0 seller-name fw-bold">Seller</h3>
                        <p>Torem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                   
                </div>
            </div>

            <div class="row border  border-gray  pt-2 pb-2">
                <div class="col-auto align-middle">
                    <img src="assets/images/vendor-1.png" class="rounded-circle image-size" >
                </div>
                <div class="col p-0">
                    <h3 class="m-0 seller-name fw-bold">Seller</h3>
                        <p>Torem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                   
                </div>
            </div>

            <div class="row border gray mt pt-2 pb-2">
                <div class="col-auto align-middle">
                    <img src="assets/images/vendor-1.png" class="rounded-circle image-size" >
                </div>
                <div class="col p-0">
                    <h3 class="m-0 seller-name fw-bold">Seller</h3>
                        <p>Torem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                   
                </div>
            </div>

            
        </div>
        <div class="col-lg-9 col-sm-0 d-none d-md-table-cell border border-gray rounded">
<div 
class="row p-3">
    <div class="col ">
        <h4 class="fw-bold m-0">Buyer</h4>
        <span>Active: 1 hour ago</span>
    </div>
                <div class="col text-end"><button class="btn btn-outline-dark fw-bold">Contact Seller</button></div>
</div>

<div class="row align-text-bottom " style="margin-top: 5rem;">

    <div class="col">
        <div class="row  p-lg-5">
            <p class="text-center"> May 27, 2022</p>
            <div class="col-auto align-middle">
                <img src="assets/images/vendor-1.png" class="rounded-circle image-size" >
            </div>
            <div class="col p-0">
                <div class="d-flex">
                    <h3 class="m-0 seller-name fw-bold">Buyer</h3>
                    <span class="ms-3">10:54 PM</span>
                </div>
                    <p class="pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis temporibus rem, porro non
                         voluptatibus modi nam. Magnam, consequuntur nemo. Deserunt eum et libero distinctio.</p>
               
            </div>
        </div>
        <!-- row 2 -->
        <div class="row  ps-5 pe-5">
            <p class="text-center"> May 27, 2022</p>
            <div class="col-auto align-middle">
                <img src="assets/images/buyer-1.png" class="rounded-circle image-size" >
            </div>
            <div class="col p-0">
                <div class="d-flex">
                    <h3 class="m-0 seller-name fw-bold">Buyer</h3>
                    <span class="ms-3">10:54 PM</span>
                </div>
                    <p class="pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis temporibus rem, porro non
                         voluptatibus modi nam. Magnam, consequuntur nemo. Deserunt eum et libero distinctio.</p>
               
            </div>
        </div>
        <div class="row ms-5 me-5 pt-2 border border-gray rounded">
            <div class="col ">
                <input type="text" placeholder="Type a message
                " class="w-100 border-0" name="" id="">
            </div>

            <div class="col-auto text-end">
                <mat-icon>send</mat-icon>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>

<!-- <app-main-footer></app-main-footer> -->